extends ../layouts/base.pug

block content
	main.page
		include ../sections/header.pug
		include ../sections/hero.pug
		include ../sections/problems.pug
		include ../sections/metrics.pug
		include ../sections/steps.pug
		include ../sections/reviews.pug
		include ../sections/pricing.pug
		include ../sections/services.pug
		include ../sections/telegram.pug
		include ../sections/faq.pug
		include ../sections/footer.pug
