section.section.problems#about
	.container
		h2.section-title Решаем ваши проблемы
		.problem-grid
			article.problem-card
				img.problem-card__icon(src="./images/problem-interviews.svg", alt="", aria-hidden="true")
				.problem-card__body
					h3.problem-card__title Не зовут на собеседования
					p.problem-card__description Разберём ваш опыт, составим сильное резюме, откликнемся на подходящие вакансии за вас
			article.problem-card
				img.problem-card__icon(src="./images/problem-time.svg", alt="", aria-hidden="true")
				.problem-card__body
					h3.problem-card__title Тратите много времени на поиски
					p.problem-card__description Наша команда профессионалов будет искать вам работу, даже когда вы спите
			article.problem-card
				img.problem-card__icon(src="./images/problem-direction.svg", alt="", aria-hidden="true")
				.problem-card__body
					h3.problem-card__title Не уверены, какую работу вам искать
					p.problem-card__description Поможем выбрать подходящее направление, определить сильные стороны и составить понятный план поиска
			article.problem-card
				img.problem-card__icon(src="./images/problem-interview.svg", alt="", aria-hidden="true")
				.problem-card__body
					h3.problem-card__title Теряетесь в ответах на интервью
					p.problem-card__description Проведём пробное интервью, разберём сложные вопросы и поможем увереннее рассказать о своём опыте
			article.problem-card
				img.problem-card__icon(src="./images/problem-income.svg", alt="", aria-hidden="true")
				.problem-card__body
					h3.problem-card__title Не понимаете, как повысить доход
					p.problem-card__description Поможем определить подходящий уровень заработной платы по вашим навыкам, и выбрать перспективные вакансии
