section.section.steps
	.container
		h2.section-title Три шага до предложения о работе
		include ../components/step-card.pug
		.steps__grid
			+step-card('goal', 'Определяем цель', 'Работаем с вашим опытом, выделяем сильные стороны и следуем ожиданиям. Выбираем подходящие должности и формируем стратегию поиска', 'step-1-art')
			+step-card('employers', 'Выходим на работодателей', 'Разрабатываем резюме, страницы кандидата и сопроводительные письма. Подбираем вакансии и помогаем получать приглашения на собеседования', 'step-2-art')
			+step-card('offer', 'Доходим до оффера', 'Готовим к собеседованиям, помогаем в общении с работодателями, сравниваем предложения и готовимся к переговорам о заработной плате', 'step-3-art')
