section.telegram-cta#contact
	img.telegram-cta__pattern(src="./images/telegram/telegram-cta-pattern.svg", alt="", aria-hidden="true")
	img.telegram-cta__people(src="./images/telegram/telegram-cta-people.png", alt="", aria-hidden="true")
	.container.telegram-cta__inner
		.telegram-cta__content
			h2 Вакансии в нашем ТГ-канале
			p Здесь мы делимся актуальными вакансиями, новостями и акциями для клиентов
			a.telegram-cta__button.button.button--dark(href="https://t.me/", target="_blank", rel="noreferrer") Подписаться на канал
